      <div class="content_sec">
        <div class="col3">
          <div class="col3_top">&nbsp;</div>
          <div class="col3_center">
            <h2 class="heading colr">About Us</h2>
              <div class="static">
                <h1 class="bold">SidelineSwap at a Glance</h1>
                <p class="pages"><strong>SidelineSwap is the world's first trading platform designed for athletes, by athletes. On SidelineSwap athletes and fans can buy, sell, and swap their unique athletic apparel and equipment.</strong>
                <br /><br />
                Most of the apparel on SidelineSwap is gear that was customized for local teams.  Before SidelineSwap, the only way to get that gear would have been bumping into that person at a tournament, camp, or on the street.<br /><br />
				<strong>Now you can log on, search, and buy gear that you otherwise never would have been able to find.</strong><br /><br />
We launched SidelineSwap in the Spring of 2011.<br /><br />
				Growing up we loved buying and trading our athletic apparel. <strong>The idea for the website started over a year ago when I offered a friend "anything I owned" for the high school Under Armour t-shirt he was wearing. We realized that athletes and fans constantly trade their school and summer team gear at tournaments, camps, and games, but there was no place to do it online.</strong> So we decided to build a website that recreated those real life interactions.<br /><br />
				SidelineSwap is different from other websites in that you can <strong>post gear without committing to sell or trade it</strong>, just as if you were wearing it around town. Simply upload pictures of your gear to your Locker so that others can check it out. If they like it, they can make you an offer. <strong>Offers may include cash or an item from another persons locker.</strong><br /><br />
				If you like the offer, accept it, and the deal is done. If you don't like the offer, reject it and the gear stays in your locker.<br /><br />
				For more information visit <u><a href="help">FAQ's</a></u>
                </p>
                <div class="clear"></div>
                <br />   
              </div>
              <div class="clear"></div>
            </div>
            <div class="clear"></div>
            <div class="col3_botm">&nbsp;</div>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>
    <div class="clear"></div>
    <div class="col3_botm">&nbsp;</div>
  </div>
</div>
<div class="clear"></div>