      <div class="content_sec">
        <div class="col3">
          <div class="col3_top">&nbsp;</div>
          <div class="col3_center">
            <h2 class="heading colr">Help</h2>
              <div class="static pages">
				<h4 class="bold"><a href="#listing"><u>Listing Items and Setting up your Locker</u></a></h4>
				<h4 class="bold"><a href="#buying"><u>Buying</u></a></h4>
				<h4 class="bold"><a href="#selling"><u>Selling</u></a></h4>
				<h4 class="bold"><a href="#swapping"><u>Swapping</u></a></h4>
				<h4 class="bold"><a href="#shipping"><u>Shipping</u></a></h4>
				<h4 class="bold"><a href="#fees"><u>Fees</u></a></h4>
				<h4 class="bold"><a href="#paypal"><u>PayPal</u></a></h4>
                <br class="clear" /><br /><br />
<p><h4 class="colr"><a name="listing" id="listing"></a>Listing Items and Setting up your Locker</h4><br /><br /><strong>How do I add an item?</strong><br /><br />
Simply click the "add an item" button on the main toolbar, and fill in the necessary information for your item. Make sure the information you provide is accurate. See the Terms of Use for the rules on adding an item.<br /><br />
<strong>How do I upload photos?</strong><br /><br />
First save the pictures you want to upload to your Desktop. Next, go to the Add an Item page. Fill out the Title, Item Description, <a href="#shipping">Shipping Price</a>, and Description. Then click the "Choose File" button. You will be able to select the images you've saved to your Desktop.<br /><br />Keep an eye out for our SidelineSwap mobile app that let's you upload images directly from your phone to your locker. It's in the works and will be available soon!
<br /><br />
<strong>What can I put in my Locker?</strong><br /><br />
Anything that's swappable. You're locker is where you show off your best gear. If you have gear that you love to wear around or show off, that's what should go in your locker. If you have extra equipment or apparel around that you want to trade or sell, that should go in your locker too.<br /><br />
<strong>If I put something in my Locker, do I have to sell or trade it?</strong><br /><br />
Nope. When you put gear in your locker you're just showing it off. You have the option to accept or reject any offer.<br />
<div class="heading">&nbsp;</div>
<br />
                <h4 class="colr"><a name="buying" id="buying"></a>Buying</h4><br /><br />
				<strong>What happens once I make an offer?</strong><br /><br />
				
				The owner of the item gets an email notification. If they accept the offer, you'll get an email asking you to pay with PayPal, or if you made a swap offer, to ship the item you offered. If your offer is rejected, you can try to make a more attractive offer or move on to other items.<br /><br />
				<strong>How do I pay? Do I need a PayPal account?</strong><br /><br />
				
				You can pay with a credit card or with your Paypal account, whichever you prefer.<br /><br />
				<strong>When do I get my item? What do I do if I don't receive my item?</strong><br /><br />
				
				Once you've paid, check your mailbox. The item should be there any day. It doesn't happen often, but if you not receive your item within 14 days (two weeks) of your payment, you should file a non-delivery report and we can begin working on having the issue resolved.<br />
<div class="heading">&nbsp;</div>
<br />
                <h4 class="colr"><a name="selling" id="selling"></a>Selling</h4><br /><br />
				<strong>How do I sell an item?</strong><br /><br />
				
				Selling an item on SidelineSwap is easy. Once you post gear in your locker, it will attract either cash or swap offers from other users. When you receive an offer, you have the option to accept or reject it. If you accept, your item is sold! If you reject, it stays in your locker waiting for a better offer.<br /><br />
				<strong>How do I get paid?</strong><br /><br />
				
				After you sell an item the buyer will be prompted to pay for the item via Paypal. Your money will be sent within 14 days of accepting the offer, or else it is returned to your locker and is back on the market.<br /><br />
				<strong>Do I need a PayPal account to sell?</strong><br /><br />
				
				Yes. We need your Paypal information in order to send you money. You can input your Paypal info at registration or when you accept your first offer. Paypal is the fastest and safest way to receive money. Follow the link below to sign up now!<br /><br />
<u><a href="https://www.paypal.com/us/cgi-bin/webscr?cmd=_flow&SESSION=tdbOTCFKedsFw8jdHffZA7W4KPlrfVh_YchfEC3GKeTYa-2RyWeCiIwORb0&dispatch=5885d80a13c0db1f8e263663d3faee8deaa77efc63a6eb429928d42bdf5d9d2c" target="_blank">PayPal Sign Up</a></u><br /><br />
				<strong>What do I do after I get paid?</strong><br /><br />
				
				We'll send you the buyer's shipping and contact info. Ship the item immediately so that you get positive feedback and a good user rating.<br /><br /> 
We recommend you use USPS Flat Rate Shipping. <br /><br />You can check out this link for more info on how to ship your item. <br /><br />
<u><a href="https://www.prioritymail.com/freesupplies.asp?id=28839292&ssno=26968" target="_blank">Shipping Information</a></u><br /><br />

Supplies are free!<br />
<div class="heading">&nbsp;</div>
<br />
                <h4 class="colr"><a name="swapping" id="swapping"></a>Swapping</h4><br /><br />
				<strong>How does a swap work?</strong><br /><br />
				
				Swapping is the most unique feature on SidelineSwap. It allows you to trade gear with anybody, anywhere, with just a click. When you agree to swap items with another user, you will receive a confirmation email that includes your trading partners shipping and contact information. Ship your item immediately to encourage positive feedback and avoid any transaction disputes.<br /><br />
				<strong>What can I swap?</strong><br /><br />
				
				All unique apparel and equipment is swappable.<br /><br />
				<strong>When do I get my item? What do I do if I don't receive my item?</strong><br /><br />Once you've paid, check your mailbox. The item should be there any day. It doesn't happen often, but if you not receive your item within 14 days (two weeks) of your payment, you should file a non-delivery report and can begin working on having the issue resolved. 
				<br />
<div class="heading">&nbsp;</div>
<br />
                <h4 class="colr"><a name="shipping" id="shipping"></a>Shipping</h4><br /><br />
				<strong>What do I charge for shipping?</strong><br /><br />
				
				USPS Flat Rate shipping is a great way to ship items on SidelineSwap. Like their slogan says, "If it fits, it ships". For example, all T-shirts, shorts, and other small items can be shipped for just $5.<br /><br />
				Check out their website to see package sizes. Choose what size package you'll need to send your item and enter that as the shipping price. It will automatically  be added to any offer. <br /><br />
				For more info on USPS Flat Rate Shipping check out this link: <u><a href="https://www.prioritymail.com/freesupplies.asp?id=28839292&ssno=26968" target="_blank">Shipping Info</a></u><br /><br />
				<strong>How do I ship an item?</strong><br /><br />
				
				Shipping an item is like shipping anything else. Take your item to your local post office, or schedule a pick up with a Fedex or UPS.  We strongly recommend requesting and saving a delivery receipt in case there be any discrepancies in a transaction.<br /><br />
				<strong>How long do I have to ship my item?</strong><br /><br />
				You should ship your item ASAP, preferably within 3 days of accepting an offer. This ensures that your buyer will receive the item within 14 days, and will not file a non-delivery report. Remember that buyers will rate you as a seller, and failure to ship an item on time will reflect poorly in your feedback.<br />
<div class="heading">&nbsp;</div>
<br />
                <h4 class="colr"><a name="fees" id="fees"></a>Fees</h4><br /><br />
				<strong>Are there any fees on SidelineSwap?</strong><br /><br />
				
				Yes, we need to pay some bills. There is a 7% service fee on all items you sell on SidelineSwap. This is the only fee we charge. Swaps are free.<br />
<div class="heading">&nbsp;</div>
<br />
                <h4 class="colr"><a name="paypal" id="paypal"></a>PayPal</h4><br /><br />
				<strong>Sign up by following the link below: </strong><br /><br />
				
				<u><a href="https://www.paypal.com/us/cgi-bin/webscr?cmd=_flow&SESSION=5cvOzTNtLtOJZHnEghix58CqddE2fJWnR8RQzst7FLLAOhNQaHtH3uRY5Ma&dispatch=5885d80a13c0db1f8e263663d3faee8d422be6d275c375afb284863ba74d6cdc" target="_blank">PayPal Sign Up</a></u><br /><br />
				<strong>What protection does PayPal offer?</strong><br /><br />
				Check out the following link to learn all about PayPal's protection policy:<br /><br />
				<u><a href="https://cms.paypal.com/us/cgi-bin/marketingweb?cmd=_render-content&content_ID=security/online_security_center" target="_blank">PayPal Protection</a></u>
                </p>
                <div class="clear"></div>
                <br />   
              </div>
              <div class="clear"></div>
            </div>
            <div class="clear"></div>
            <div class="col3_botm">&nbsp;</div>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>
    <div class="clear"></div>
    <div class="col3_botm">&nbsp;</div>
  </div>
</div>
<div class="clear"></div>