      <div class="content_sec">
        <div class="col3">
          <div class="col3_top">&nbsp;</div>
          <div class="col3_center">
            <h2 class="heading colr">Shipping & Payments</h2>
              <div class="static pages">
                <h4 class="bold"><a href="#buying"><u>Buying gear -></u></a></h4>
				<h4 class="bold"><a href="#selling"><u>Selling gear -></u></a></h4>
				<h4 class="bold"><a href="#shipping"><u>Shipping your gear -></u></a></h4>
				<h4 class="bold"><a href="#swaps"><u>What about swaps?</u></a></h4>

<br class="clear" /><br /><br />
<p><strong><a name="buying" id="buying"></a>Buying  gear</strong><br /><br />
Make  an offer, any offer. If it's accepted, we'll email you to let you  know. To check out, go to your offers page and click PAY NOW on that  offer. We'll send you to our Paypal site so that you can pay the  seller with a credit card, or with your Paypal account.<br /><br />
You  don't need a Paypal account to buy gear, any major credit card will  do.<br /><br />
The  sooner you pay, the sooner your new gear arrives at your door. It  will also help you improve your user rating. So pay right away.<br />
<div class="heading">&nbsp;</div>
<br />
<strong><a name="selling" id="selling"></a>Selling gear</strong><br /><br />
When  you accept an offer, we'll let the buyer know it's time to pay.<br /><br />
All  payments are sent with Paypal, so as a seller you're going to need  a Paypal account. You can add your Paypal information at  registration, by clicking the Edit Your Personal Info in your Locker,  or when you accept an offer. If you don't have an account and need  to register just click <u><a href="https://www.paypal.com/us/cgi-bin/webscr?cmd=_flow&amp;SESSION=ym5mtUCCYZckN_5ZYFGDCir3_XuugYV6uwDQiNmorgpTDB6o7LtmwbGuNN8&amp;dispatch=5885d80a13c0db1f8e263663d3faee8d1e83f46a36995b3856cef1e18897ad75">here</a></u>.<br /><div class="heading">&nbsp;</div><br />
<strong><a name="shipping" id="shipping"></a>Shipping  your gear</strong><br /><br />
Once  you get paid, ship your item immediately. The buyer needs his gear,  and you want to make sure you improve your user rating with each  transaction.<br /><br />
We  recommend you ship using <u><a href="https://www.prioritymail.com/flatrates.asp">USPS  Flat Rate Shipping</a></u>.  Just go to your local post office and use the free shipping supplies  they have there. Ask the post office for a delivery receipt, just in  case there is a dispute between you and the buyer.<br /><div class="heading">&nbsp;</div><br />
<strong><a name="swaps" id="swaps"></a>What  about swaps?</strong><br /><br />
There  are no payments involved in a swap so it is pretty simple. Once a  swap offer is accepted, we'll send both sides the shipping and  contact information. Send your item within 3 days, preferably right  away.<br /><br />
We  recommend you ship using <u><a href="https://www.prioritymail.com/flatrates.asp">USPS  Flat Rate Shipping</a></u>.  Just go to your local post office and use the free shipping supplies  they have there. Ask the post office for a delivery receipt, just in  case there is a dispute between you and the buyer.<br /><br />
For  more details, see our <u><a href="http://www.sidelineswap.com/termsofuse">Terms  of Use</a></u></p>
                <div class="clear"></div>
                <br />   
              </div>
              <div class="clear"></div>
            </div>
            <div class="clear"></div>
            <div class="col3_botm">&nbsp;</div>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>
    <div class="clear"></div>
    <div class="col3_botm">&nbsp;</div>
  </div>
</div>
<div class="clear"></div>