      <div class="content_sec">
        <div class="col3">
          <div class="col3_top">&nbsp;</div>
          <div class="col3_center">
            <h2 class="heading colr">Terms of Use</h2>
              <div class="static pages">
                <h1 class="bold">SidelineSwap's Terms of Use</h1>
                <p>PLEASE READ THESE  TERMS OF USE (&quot;AGREEMENT&quot; OR &quot;TERMS OF USE&quot;)  CAREFULLY BEFORE USING THE WEBSITE AND SERVICES OFFERED BY  SIDELINESWAP, INC. (&quot;SIDELINESWAP&quot;). THIS AGREEMENT SETS  FORTH THE LEGALLY BINDING TERMS AND CONDITIONS FOR YOUR USE OF THE  WEBSITE AT HTTP://WWW.SIDELINESWAP.COM (THE &quot;SITE&quot;) AND ALL  SERVICES PROVIDED BY SIDELINESWAP ON THE SITE.</p>
<p>By using the Site in  any manner, including but not limited to visiting or browsing the  Site, you (the &quot;user&quot; or &quot;you&quot;) agree to be bound  by this Agreement, including those additional terms and conditions  and policies referenced herein and/or available by hyperlink. This  Agreement applies to all users of the Site, including without  limitation users who are vendors, customers, merchants, contributors  of content, information and other materials or services on the Site.</p><br />
<p>If you have any  questions, please refer to the <U><a href="help">FAQ</a></U> section  of the Site, or contact SidelineSwap by email.</p><br />
<p><strong>1.  SidelineSwap is a Venue</strong></p>
<p>SidelineSwap acts as  a venue to allow users who comply with SidelineSwap's policies to  offer, sell, trade, and buy certain goods within a barter format.  SidelineSwap is not directly involved in the transaction between  users. As a result, Sidelineswap has no control over the quality,  safety, morality or legality of any aspect of the items listed, the  truth or accuracy of the listings, the ability of sellers to sell  items or the ability of buyers to pay for items. SidelineSwap does  not pre-screen users or the content or information provided by users.  SidelineSwap cannot ensure that a buyer or seller will actually  complete a transaction.</p><br />
<p>Consequently,  SidelineSwap does not transfer legal ownership of items from the  seller to the buyer.</p><br />
<p>SidelineSwap cannot  guarantee the true identity, age, and nationality of a user.  SidelineSwap encourages you to communicate directly with potential  transaction partners through the tools available on the Site and  through external communication services. You may also wish to  consider using a third-party escrow service or services that provide  additional user verification.</p>
<p>You agree that  SidelineSwap is a venue and as such is not responsible or liable for  any content, for example, data, text, information, usernames,  graphics, images, photographs, profiles, audio, video, items, and  links posted by you, other users, or outside parties on SidelineSwap.  You use the SidelineSwap service at your own risk.</p><br />
<p><strong>2.  Membership Eligibility</strong></p>
<p><strong>Age:</strong> SidelineSwap's services are available only to, and may only be used  by, individuals who are 18 years or older who can form legally  binding contracts under applicable law. You represent and warrant  that you are at least 18 years old and that all registration  information you submit is accurate and truthful. SidelineSwap may, in  its sole discretion, refuse to offer access to or use of the Site to  any person or entity and change its eligibility criteria at any time.  This provision is void where prohibited by law and the right to  access the Site is revoked in such jurisdictions.</p><br />
<p>Individuals under  the age of 18 must at all times use SidelineSwap's services only in  conjunction with and under the supervision of a parent or legal  guardian who is at least 18 years of age. In this all cases, the  adult is the user and is responsible for any and all activities.</p><br />
<p><strong>Compliance:</strong> You agree to comply with all local laws regarding online conduct and  acceptable content. You are responsible for all applicable taxes. In  addition, you must abide by SidelineSwap's policies as stated in  the Agreement and the SidelineSwap policy documents listed below (if  applicable to your activities on or use of the Site) as well as all  other operating rules, policies and procedures that may be published  from time to time on the Site by SidelineSwap, each of which is  incorporated herein by reference and each of which may be updated by  SidelineSwap from time to time without notice to you: </p><br />
<div style="margin-right:40px;"><ul style="margin-left:20px;">
  <li>
    <p> <a href="help#fees" target="_blank"><U>Fees Policy</U></a></p>
  </li>
  <li>
    <p><a href="privacy" target="_blank"><U>Privacy Policy</U></a></p>
  </li>
</ul></div><br class="clear"/><br />
<p>In addition, some  services offered through the Site may be subject to additional terms  and conditions promulgated by SidelineSwap from time to time; your  use of such services is subject to those additional terms and  conditions, which are incorporated into this Agreement by this  reference.</p><br />
<p><strong>Password:</strong> Keep your password secure. You are fully responsible for all  activity, liability and damage resulting from your failure to  maintain password confidentiality. You agree to immediately notify  SidelineSwap of any unauthorized use of your password or any breach  of security. You also agree that SidelineSwap cannot and will not be  liable for any loss or damage arising from your failure to keep your  password secure. You agree not to provide your username and password  information in combination to any other party other than SidelineSwap  without SidelineSwap's express written permission.</p><br />
<p><strong>Account  Information:</strong> You must keep your account information up-to-date and accurate at all  times, including a valid email address. To sell items on SidelineSwap  you must provide and maintain a valid PayPal account.</p><br />
<p><strong>Account Transfer:</strong> You may not transfer or sell your SidelineSwap account and User ID to  another party. If you are registering as a business entity, you  personally guarantee that you have the authority to bind the entity  to this Agreement.</p><br />
<p><strong>Right to Refuse  Service:</strong> SidelineSwap's services are not available to temporarily or  indefinitely suspended SidelineSwap members. SidelineSwap reserves  the right, in SidelineSwap's sole discretion, to cancel unconfirmed  or inactive accounts. SidelineSwap reserves the right to refuse  service to anyone, for any reason, at any time.</p><br />
<p><strong>3.  Fees and Services</strong></p>
<p> Joining and setting  up a locker on SidelineSwap is free. SidelineSwap does not charge  fees for listing a user's first 15 items. SidelineSwap takes a  percentage of the sale price when the item sells. SidelineSwap's Fees Policy,  which is subject to change, is incorporated into this Agreement by  reference. Changes to the Fees Policy and the fees for SidelineSwap's  services are effective after SidelineSwap provides you with at least  fourteen (14) days' notice by posting the changes on the Site.  However, SidelineSwap may choose to temporarily change the Fees  Policy and the fees for SidelineSwap's services for promotional events;  such changes are effective when SidelineSwap posts the temporary  promotional event on the Site. SidelineSwap may, at SidelineSwap's  sole discretion, change some or all of SidelineSwap's services at  any time. In the event SidelineSwap introduces a new service, the  fees for that service are effective at the launch of the service.  Unless otherwise stated, all fees are quoted in US Dollars (USD).</p><br />
<p><strong>4.  Listing and Selling</strong></p>
<p><strong>Listing  Description:</strong> By listing an item on the Site you warrant that you and all aspects  of the item comply with SidelineSwap's published policies. You also  warrant that you may legally sell the item. You must accurately  describe your item and all terms of sale when listing the item. Your  listings may only include text descriptions, graphics, pictures and  other content relevant to the sale of that item. All items must be  listed in an appropriate category with appropriate tags. Each listing  must accurately and completely describe the item/items for sale in  that listing.</p><br />
<p><strong>Binding Sale:</strong> All sales are binding. The seller is obligated to ship the order or  otherwise complete the transaction with the buyer in a prompt manner,  unless there is an exceptional circumstance, such as: (a) the buyer  fails to meet the terms of the seller's listing (such as payment  method), or (b) the seller cannot authenticate the buyer's identity.  The buyer is obligated to deliver appropriate payment for items  purchased, unless there is an exceptional circumstance.</p><br />
<p><strong>Fee Avoidance:</strong> The price stated in each item listing description must be an accurate  representation of the sale. You may not alter the item's price after  a sale for the purpose of avoiding SidelineSwap's transaction fees,  misrepresent the item's location, or use another user's account  without permission.</p><br />
<p><strong>5.  Prohibited, Questionable and Infringing Items and Activities</strong></p>
<p>You are solely  responsible for your conduct and activities on and regarding to  SidelineSwap and any and all data, text, information, usernames,  graphics, images, photographs, profiles, audio, video, items, and  links (together, &quot;Content&quot;) that you submit, post, and  display on SidelineSwap.</p><br />
<p>Restricted  Activities: Your Content and your use of SidelineSwap shall not: </p><br />
<div style="margin-right:40px;"><ol style="margin-left:20px;">
  <li>
    <p> Be false,  	inaccurate or misleading </p>
  </li>
  <li>
    <p>Be  	fraudulent or involve the sale of illegal, counterfeit or stolen  	items </p>
  </li>
  <li>
    <p>Infringe  	upon any third-party's copyright, patent, trademark, trade secret or  	other proprietary or intellectual property rights or rights of  	publicity or privacy</p>
  </li>
  <li>
    <p>Violate  	this Agreement, any site policy or community guidelines, or any  	applicable law, statute, ordinance or regulation (including, but not  	limited to, those governing export control, consumer protection,  	unfair competition, anti-discrimination or false advertising) </p>
  </li>
  <li>
    <p>Contain  	items that have been identified by the <a href="http://www.cpsc.gov/" target="_blank"><U>U.S.  	Consumer Products Safety Commission (CPSC)</U></a> as hazardous to consumers and therefore subject to a recall </p>
  </li>
  <li>
    <p>Be  	defamatory, trade libelous, unlawfully threatening, unlawfully  	harassing, impersonate or intimidate any person (including  	SidelineSwap staff or other users), or falsely state or otherwise  	misrepresent your affiliation with any person, through for example,  	the use of similar email address, nicknames, or creation of false  	account(s) or any other method or device </p>
  </li>
  <li>
    <p>Be  	obscene or contain child pornography </p>
  </li>
  <li>
    <p>Contain  	or transmit any code of a destructive nature that may damage,  	detrimentally interfere with, surreptitiously intercept or  	expropriate any system, data or personal information </p>
  </li>
  <li>
    <p>Host  	images not part of a listing </p>
  </li>
  <li>
    <p>Modify,  	adapt or hack SidelineSwap or modify another website so as to  	falsely imply that it is associated with SidelineSwap; </p>
  </li>
  <li>
    <p>Appear  	to create liability for SidelineSwap or cause SidelineSwap to lose  	(in whole or in part) the services of SidelineSwap's ISPs or other  	suppliers </p>
  </li>
  <li>
    <p>Link  	directly or indirectly, reference or contain descriptions of goods  	or services that are prohibited under this Agreement, the <a href="privacy" target="_blank"><U>Privacy  	Policy</U></a>,  	or other policy documents as posted on SidelineSwap. </p>
  </li>
</ol></div><br class="clear"/><br />
<p>Furthermore, you may  not list any item on SidelineSwap (or consummate any transaction that  was initiated using SidelineSwap's service) that, by paying to  SidelineSwap the service fee, could cause SidelineSwap to violate any  applicable law, statute, ordinance or regulation, or that violates  the Terms of Use.</p><br />
<p><strong>6.  Content</strong></p>
<p><strong>License:</strong> SidelineSwap does not claim ownership rights in your Content. You  grant SidelineSwap a license solely to enable SidelineSwap to use any  information or Content you supply SidelineSwap with, so that  SidelineSwap is not violating any rights you might have in that  Content. You grant SidelineSwap a non-exclusive, worldwide,  perpetual, irrevocable, royalty-free, sublicensable (through multiple  tiers) right to exercise the copyright, publicity, and database  rights (but no other rights) you have in the Content, in any media  now known or not currently known, with respect to your Content. You  agree to allow SidelineSwap to store or re-format your Content on  SidelineSwap and display your Content on SidelineSwap in any way as  SidelineSwap chooses. SidelineSwap will only use personal information  in accordance with SidelineSwap's <a href="privacy" target="_blank"><U>Privacy  Policy</U></a>.</p>
<p>As part of a  transaction, you may obtain personal information, including email  address and shipping information, from another SidelineSwap user.  Without obtaining prior permission from the other user, this personal  information shall only be used for that transaction or for  SidelineSwap-related communications. SidelineSwap has not granted you  a license to use the information for unsolicited commercial messages.  Without limiting the foregoing, without express consent from the  user, you are not licensed to add any SidelineSwap user to your email  or physical mail list. For more information, see SidelineSwap's <a href="privacy" target="_blank"><U>Privacy  Policy</U></a>.</p><br />
<p><strong>Re-Posting  Content:</strong> By posting Content on SidelineSwap, it is possible for an outside  website or a third party to re-post that Content. You agree to hold  SidelineSwap harmless for any dispute concerning this use. If you  choose to display your own SidelineSwap-hosted image on another  website, the image must provide a link back to its listing page on  SidelineSwap.</p><br />
<p><strong>Idea Submissions:</strong> SidelineSwap considers any unsolicited suggestions, ideas, proposals  or other material submitted to it by users via the Site or otherwise  (other than the Content and the tangible items sold on the Site by  users) (collectively, the &quot;Material&quot;) to be  non-confidential and non-proprietary, and SidelineSwap shall not be  liable for the disclosure or use of such Material. If, at  SidelineSwap's request, any member sends Material to improve the  site (for example through the Forums or to customer support),  SidelineSwap will also consider that Material to be non-confidential  and non-proprietary and SidelineSwap will not be liable for use or  disclosure of the Material. Any communication by you to SidelineSwap  is subject to this Agreement. You hereby grant and agree to grant  SidelineSwap, under all of your rights in the Material, a worldwide,  non-exclusive, perpetual, irrevocable, royalty-free, fully-paid,  sublicensable and transferable right and license to incorporate, use,  publish and exploit such Material for any purpose whatsoever,  commercial or otherwise, including but not limited to incorporating  it in the API, documentation, or any product or service, without  compensation or accounting to you and without further recourse by  you.</p><br />
<p><strong>7.  Information Control</strong></p>
<p>SidelineSwap does  not control the Content provided by users that is made available on  SidelineSwap. You may find some Content to be offensive, harmful,  inaccurate, or deceptive. There are also risks of dealing with  underage persons or people acting under false pretense.</p><br />
<p>Additionally, there  may also be risks dealing with international trade and foreign  nationals. By using SidelineSwap, you agree to accept such risks and  that SidelineSwap (and SidelineSwap's officers, directors, agents,  subsidiaries, joint ventures and employees) is not responsible for  any and all acts or omissions of users on SidelineSwap. Please use  caution, common sense, and practice safe buying and selling when  using SidelineSwap.</p><br />
<p><strong>Other Resources:</strong> SidelineSwap is not responsible for the availability of outside  websites or resources linked to or referenced on the Site.  SidelineSwap does not endorse and is not responsible or liable for  any content, advertising, products, or other materials on or  available from such websites or resources. You agree that  SidelineSwap shall not be responsible or liable, directly or  indirectly, for any damage or loss caused or alleged to be caused by  or in connection with the use of or reliance on any such content,  goods or services available on or through any such websites or  resources.</p><br />
<p><strong>8.  Resolution of Disputes and Release</strong></p>
<p>In the event a  dispute arises between you and SidelineSwap, please <U><a href="contact">contact SidelineSwap</a></U></p><br />
<p>Should you have a  dispute with one or more users, or an outside party, you release  SidelineSwap (and SidelineSwap's officers, directors, agents,  subsidiaries, joint ventures and employees) from any and all claims,  demands and damages (actual and consequential) of every kind and  nature, known and unknown, suspected and unsuspected, disclosed and  undisclosed, arising out of or in any way connected with such  disputes. SidelineSwap encourages users to report user-to-user  disputes to your local law enforcement, postmaster general, or a  certified mediation or arbitration entity, as applicable.</p><br />
<p>SidelineSwap, for  the benefit of users, may try to help users resolve disputes.  SidelineSwap does so in SidelineSwap's sole discretion, and  SidelineSwap has no obligation to resolve disputes between users or  between users and outside parties. To the extent that SidelineSwap  attempts to resolve a dispute, SidelineSwap will do so in good faith  based solely on SidelineSwap's policies. SidelineSwap will not make  judgments regarding legal issues or claims.</p><br />
<p><strong>9.  SidelineSwap's Intellectual Property</strong></p>
<p>SIDELINESWAP, and  other SidelineSwap graphics, logos, designs, page headers, button  icons, scripts, and service names are registered trademarks,  trademarks or trade dress of SidelineSwap, Inc. in the U.S..  SidelineSwap's trademarks and trade dress may not be used,  including as part of trademarks and/or as part of domain names or  email addresses, in connection with any product or service in any  manner that is likely to cause confusion.</p><br />
<p><strong>10.  Access and Interference</strong></p>
<p>SidelineSwap may  contain robot exclusion headers which contain internal rules for  software usage. Much of the information on SidelineSwap is updated on  a real-time basis and is proprietary or is licensed to SidelineSwap  by SidelineSwap's users or third-parties. You agree that you will  not use any robot, spider, scraper or other automated means to access  SidelineSwap for any purpose whatsoever without SidelineSwap's  prior express written permission.</p><br />
<p>Additionally, you agree that you  will not: </p><br />
<div style="margin-right:40px;"><ol style="margin-left:20px;">
  <li>
    <p> Take any action  	that imposes, or may impose, in SidelineSwap's sole discretion, an  	unreasonable or disproportionately large load on SidelineSwap's  	infrastructure</p></li>
  <li>
    <p>Copy,  	reproduce, modify, create derivative works from, distribute or  	publicly display any user Content (except for your Content) from the  	Site without the prior express written permission of SidelineSwap  	and the appropriate third party, as applicable</p>
  </li>
  <li>
    <p>Interfere  	or attempt to interfere with the proper working of the Site or any  	activities conducted on the Site </p>
  </li>
  <li>
    <p>Bypass  	SidelineSwap's robot exclusion headers or other measures  	SidelineSwap may use to prevent or restrict access to SidelineSwap </p>
  </li>
</ol></div><br class="clear"/><br />
<p><strong>11.  Breach</strong></p>
<p>Without limiting any  other remedies, SidelineSwap may, without notice, and without  refunding any fees, delay or immediately remove Content, warn  SidelineSwap's community of a user's actions, issue a warning to a  user, temporarily suspend a user, temporarily or indefinitely suspend  a user's account privileges, terminate a user's account, prohibit  access to the Site, and take technical and legal steps to keep a user  off the Site and refuse to provide services to a user if any of the  following apply:</p><br />
<p>SidelineSwap  suspects (by information, investigation, conviction, settlement,  insurance or escrow investigation, or otherwise) a user has breached  this Agreement, the <a href="privacy" target="_blank"><U>Privacy  Policy</U></a>,  or other policy documents and community guidelines incorporated  herein; SidelineSwap is unable to verify or authenticate any of your  personal information or Content; or SidelineSwap believes that a user  is acting inconsistently with the letter or spirit of SidelineSwap's  policies, has engaged in improper or fraudulent activity in  connection with SidelineSwap or the actions may cause legal liability  or financial loss to SidelineSwap's users or to SidelineSwap.</p><br />
<p><strong>12.  Privacy</strong></p>
<p>Except as provided  in SidelineSwap's <a href="privacy" target="_blank"><U>Privacy  Policy</U></a> SidelineSwap will not sell or disclose your personal information (as  defined in the <a href="privacy" target="_blank"><U>Privacy  Policy</U></a>)  to third parties without your explicit consent. SidelineSwap stores  and processes Content on computers located in the United States that  are protected by physical as well as technological security.</p><br />
<p><strong>13.  No Warranty</strong></p>
<p>SIDELINESWAP,  SIDELINESWAP'S SUBSIDIARIES, OFFICERS, DIRECTORS, EMPLOYEES, AND  SIDELINESWAP'S SUPPLIERS PROVIDE SIDELINESWAP'S WEB SITE AND  SERVICES &quot;AS IS&quot; AND WITHOUT ANY WARRANTY OR CONDITION,  EXPRESS, IMPLIED OR STATUTORY. SIDELINESWAP, SIDELINESWAP'S  SUBSIDIARIES, OFFICERS, DIRECTORS, EMPLOYEES AND SIDELINESWAP'S  SUPPLIERS SPECIFICALLY DISCLAIM ANY IMPLIED WARRANTIES OF TITLE,  MERCHANTABILITY, PERFORMANCE, FITNESS FOR A PARTICULAR PURPOSE AND  NON-INFRINGEMENT. IN ADDITION, NO ADVICE OR INFORMATION (ORAL OR  WRITTEN) OBTAINED BY YOU FROM SIDELINESWAP SHALL CREATE ANY WARRANTY.  SOME STATES DO NOT ALLOW THE DISCLAIMER OF IMPLIED WARRANTIES, SO THE  FOREGOING DISCLAIMER MAY NOT APPLY TO YOU. THIS WARRANTY GIVES YOU  SPECIFIC LEGAL RIGHTS AND YOU MAY ALSO HAVE OTHER LEGAL RIGHTS THAT  VARY FROM STATE TO STATE.</p><br />
<p><strong>14.  Liability Limit</strong></p>
<p>IN NO EVENT SHALL  SIDELINESWAP, AND (AS APPLICABLE) SIDELINESWAP'S SUBSIDIARIES,  OFFICERS, DIRECTORS, EMPLOYEES OR SIDELINESWAP'S SUPPLIERS BE  LIABLE FOR ANY DAMAGES WHATSOEVER, WHETHER DIRECT, INDIRECT, GENERAL,  SPECIAL, COMPENSATORY, CONSEQUENTIAL, AND/OR INCIDENTAL, ARISING OUT  OF OR RELATING TO THE CONDUCT OF YOU OR ANYONE ELSE IN CONNECTION  WITH THE USE OF THE SITE, SIDELINESWAP'S SERVICES, OR THIS  AGREEMENT, INCLUDING WITHOUT LIMITATION, LOST PROFITS, BODILY INJURY,  EMOTIONAL DISTRESS, OR ANY SPECIAL, INCIDENTAL OR CONSEQUENTIAL  DAMAGES.</p>
<p>SIDELINESWAP'S  LIABILITY, AND (AS APPLICABLE) THE LIABILITY OF SIDELINESWAP'S  SUBSIDIARIES, OFFICERS, DIRECTORS, EMPLOYEES, AND SUPPLIERS, TO YOU  OR ANY THIRD PARTIES IN ANY CIRCUMSTANCE IS LIMITED TO THE GREATER OF  (A) THE AMOUNT OF FEES YOU PAY TO SIDELINESWAP IN THE 12 MONTHS PRIOR  TO THE ACTION GIVING RISE TO LIABILITY, AND (B) $100. SOME STATES DO  NOT ALLOW THE EXCLUSION OR LIMITATION OF INCIDENTAL OR CONSEQUENTIAL  DAMAGES, SO THE ABOVE LIMITATION OR EXCLUSION MAY NOT APPLY TO YOU.</p><br />
<p><strong>15.  Indemnity</strong></p>
<p>YOU AGREE TO  INDEMNIFY AND HOLD SIDELINESWAP AND (AS APPLICABLE) SIDELINESWAP'S  PARENT, SUBSIDIARIES, AFFILIATES, OFFICERS, DIRECTORS, AGENTS, AND  EMPLOYEES, HARMLESS FROM ANY CLAIM OR DEMAND, INCLUDING REASONABLE  ATTORNEYS' FEES, MADE BY ANY THIRD PARTY DUE TO OR ARISING OUT OF  YOUR BREACH OF THIS AGREEMENT OR THE DOCUMENTS IT INCORPORATES BY  REFERENCE, OR YOUR VIOLATION OF ANY LAW OR THE RIGHTS OF A THIRD  PARTY.</p><br />
<p><strong>16.  No Guarantee</strong></p>
<p>SidelineSwap does  not guarantee continuous, uninterrupted access to the Site, and  operation of the Site may be interfered with by numerous factors  outside SidelineSwap's control.</p><br />
<p><strong>17.  Legal Compliance; Taxes</strong></p>
<p>You shall comply  with all applicable domestic and international laws, statutes,  ordinances and regulations regarding your use of the Site and any  SidelineSwap service and, if applicable, your listing, purchase,  solicitation of offers to purchase, and sale of items. In addition,  you shall be responsible for paying any and all taxes applicable to  any purchases or sales of items you make on the Site (excluding any  taxes on SidelineSwap's net income).</p><br />
<p><strong>18.  Severability</strong></p>
<p>If any provision of  this Agreement is held unenforceable, then such provision will be  modified to reflect the parties' intention. All remaining provisions  of this Agreement shall remain in full force and effect.</p><br />
<p><strong>19.  No Agency</strong></p>
<p>You and SidelineSwap  are independent contractors, and no agency, partnership, joint  venture, employee-employer or franchiser-franchisee relationship is  intended or created by this Agreement.</p><br />
<p><strong>20.  SidelineSwap Service</strong></p>
<p>SidelineSwap  reserves the right to modify or terminate the SidelineSwap service  for any reason, without notice, at any time. SidelineSwap reserves  the right to alter these Terms of Use or other Site policies at any  time, so please review the policies frequently. If SidelineSwap makes  a material change SidelineSwap will notify you here, by email, by  means of a notice on our home page, or other places SidelineSwap  deems appropriate. What constitutes a &quot;material change&quot;  will be determined at SidelineSwap's sole discretion, in good  faith, and using common sense and reasonable judgment.</p><br />
<p><strong>21.  Choice of Law</strong></p>
<p>This Agreement shall  in all respects be interpreted and construed with and by the laws of  the State of New York, excluding its conflicts of laws rules, and the  United States of America.</p><br />
<p><strong>22.  Survival</strong></p>
<p>Sections 3 (Fees and  Services, Fees and Termination), 6 (Content, License), 7 (Information  Control), 8 (Meetings, Groups or User Fees), 9 (Resolution of Dispute  and Release), 10 (Etsy's Intellectual Property), 11 (Access and  Interference), 12 (Breach), 13 (Privacy), 14 (No Warranty), 15  (Liability Limit), 16 (Indemnity), 17 (No Guaranty), 19  (Severability), 20 (No Agency), 22 (Choice of Law) shall survive any  termination or expiration of this Agreement.</p><br />
<p><strong>23.  Notices</strong></p>
<p>Except as explicitly  stated otherwise, any notices shall be given by postal mail to  SidelineSwap; Attn: Legal Department; 932 Hempstead Turnpike;  Franklin Square, NY 11010 (in the case of SidelineSwap) or, in your  case, to the email address you provide to SidelineSwap (either during  the registration process or when your email address changes). Notice  shall be deemed given 24 hours after email is sent, unless the  sending party is notified that the email address is invalid.  Alternatively, SidelineSwap may give you notice by certified mail,  postage prepaid and return receipt requested, to the address provided  to SidelineSwap. In such case, notice shall be deemed given three  days after the date of mailing.</p><br />
<p>For issues with  intellectual property, please provide the notice as specified in  SidelineSwap's Copyright  and Intellectual Property Policy.</p><br />
<p><strong>24.  Disclosures</strong></p>
<p>The services  hereunder are offered by SidelineSwap Inc., located at 932 Hempstead  Turnpike; Franklin Square, NY 11010. If you are a New York resident,  you may have this same information emailed to you by sending a letter  to the foregoing address with your email address and a request for  this information.</p><br />
<p><em>Effective  Date: May 22, 2011</em></p>
                <div class="clear"></div>
                <br />   
              </div>
              <div class="clear"></div>
            </div>
            <div class="clear"></div>
            <div class="col3_botm">&nbsp;</div>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>
    <div class="clear"></div>
    <div class="col3_botm">&nbsp;</div>
  </div>
</div>
<div class="clear"></div>