<div class="swap-item" id="swap-item-__index__">
  <span class="itemname">__ITEM_NAME__</span>
  <%= hidden_field_tag 'swap[swap_items_attributes][__index__][item_id]', '__ITEM_ID__' %>
  <%= hidden_field_tag 'swap[swap_items_attributes][__index__][recipient_id]', '__RECIPIENT_ID__' %>
  <a href="#" onclick="remove_swap_item('__index__', '__ITEM_ID__')">remove</a>
</div>
