<div class="content_sec">
  <div class="col3">
    <div class="col3_top">&nbsp;</div>
    <div class="col3_center">
      <h2 class="heading colr">Edit Offer</h2>
      <%= render :partial => 'form' %>
    </div>
    <div class="clear"></div>
    <div class="col3_botm">&nbsp;</div>
  </div>
</div>